.Button {
  color: #fff;
  text-decoration: none;
  background-color: var(--color-accent);
  transition: background-color .15s;
  margin: 0 14px;
  height: 38px;
  padding: 0 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 600;

  &:hover {
    background-color: var(--color-accent-active);
  }
}

.ButtonLarge {
  height: 52px;
  font-size: var(--font-size-medium);
  padding: 0 30px;
}