@import url('https://fonts.googleapis.com/css?family=Open+Sans:400, 600, 700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #383a4d;
  background-color: #fafbfd;
}
